<div class="author-view">
    <div class="menu post author">

        <section class="author">
            <h6>About Me</h6>
            Software Engineer, Mobile and Front-end Developer, Traveler.<br/>
            Follow my projects or get in touch!
        </section>

    	{{#if @blog.navigation}}
            <ul>
                {{#foreach navigation}}
                    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
                {{/foreach}}
            </ul>
    	{{/if}}
    </div>
</div>